@charset "utf-8";
/* カスタムプロパティ(CSS変数) */
:root{
--portfolio-black: #000000;
--portfolio-white: #FFFFFF;
--portfolio-green: #296A65;
--portfolio-light-green:#2FAC9E;
--portfolio-gray: #EEEEEE;

--fz-12: 12px;
--fz-14: 14px;
--fz-16: 16px;
--fz-18: 18px;
--fz-24: 24px;
--fz-32: 32px;
--fz-48: 48px;
--fz-64: 64px;

}






body{
    background-color: pink;
    font-size: 16px;
}

/* li:nth-child(2n){ 
    color: red;
}*/

.sec01 > p:first-of-type{
    color: green
}

.sec01 > p:nth-child(2){
    text-decoration: underline red;
}

.sec01 ul li:nth-child(2){
font-weight: bold;
}

.sec01 ul:nth-of-type(2) li:nth-of-type(2){
    font-size: 24px;
}

/* フォームのスタイルをリセット 手動リセットCSS*/
input[type="text"],
input[type="submit"],
textarea {
background-color: transparent;
border: none;
border-radius: 0;
outline: none;
appearance: none;
}

/* お名前とメールアドレスとメッセージの入力欄に太さ1px、実線、000000のボーダーを引く */

input[type="text"],
input[type="email"],
textarea{
    border: 1px solid var(--portfolio-black);
    background-color: var(--portfolio-white);
}

/* フォーカスされている入力欄を強調する */
input:focus,
textarea:focus{
    outline: 3px solid var(--portfolio-black);
}

/* 必須項目のスタイルを変更する */
input:required{
    background-color: gray;
}

/* 疑似要素:has() */
label:has(input[required]) span::after{
    content: "必須";
    font-size: 0.8em;
    display: inline-block;
    background-color: var(--portfolio-black);
    color: var(--portfolio-white);
    border-radius: 3px;
    padding-inline: 6px;
    padding-block: 3px;
    margin-inline-start: 5px;
}

input[type=submit]{
    border-radius: 8px;
    background-color: var(--portfolio-black);
    color: var(--portfolio-white);
    padding-inline: 13px;
    padding-block: 8px;
}

input[type=submit]:disabled{
    background-color: gray;
    color: var(--portfolio-white);
    border: 1px solid var(--portfolio-black);
    opacity: 0.5;
}